In [100]:
import pandas as pd
import numpy as np
from numpy import random

In [101]:
Math_Score=random.randint (60,80,30)
Reading_Score=random.randint (75,95,30)
Writing_Score=random.randint (60,80,30)
Placement_Score=random.randint (75, 100, 30)
Club_Join_Date =random.randint (2018, 2021,30)
Offer_Count=random.randint(0,3,30)

In [102]:
df= pd.DataFrame ({"Math_Score": Math_Score, "Reading_Score": Reading_Score, "Writing_Score": Writing_Score, "Placement_Score": Placement_Score, "Club_Join_Date" : Club_Join_Date, "Offer_Count": Offer_Count})

In [103]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Offer_Count
0,66,90,72,93,2020,2
1,61,86,72,89,2019,2
2,67,80,74,99,2020,0
3,71,83,62,86,2019,0
4,60,88,63,91,2018,0
5,76,76,79,79,2019,2
6,64,88,79,77,2020,2
7,63,88,69,97,2018,2
8,73,90,61,75,2020,0
9,76,82,78,95,2020,2
10,66,86,72,81,2019,1
11,70,85,66,77,2019,0
12,71,82,76,86,2019,2
13,73,79,75,78,2018,0
14,73,80,65,77,2018,1
15,64,92,64,99,2020,1
16,69,82,64,87,2018,2
17,75,88,69,76,2020,1
18,61,92,60,87,2019,0
19,75,78,67,81,2019,1
20,69,94,76,93,2018,2
21,73,89,68,76,2019,2
22,67,87,75,88,2020,1
23,77,82,70,93,2020,0
24,75,76,71,93,2020,2
25,62,86,78,77,2020,1
26,74,78,72,93,2019,2
27,67,76,61,77,2019,1
28,62,90,69,90,2020,0
29,67,76,66,89,2020,2

In [104]:
df.isnull().sum()

Math_Score         0
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join_Date     0
Offer_Count        0
dtype: int64

In [105]:
df.loc[df["Math_Score"]<65 , "Math_Score"] = np.nan

In [106]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Offer_Count
0,66.0,90,72,93,2020,2
1,NaN,86,72,89,2019,2
2,67.0,80,74,99,2020,0
3,71.0,83,62,86,2019,0
4,NaN,88,63,91,2018,0
5,76.0,76,79,79,2019,2
6,NaN,88,79,77,2020,2
7,NaN,88,69,97,2018,2
8,73.0,90,61,75,2020,0
9,76.0,82,78,95,2020,2
10,66.0,86,72,81,2019,1
11,70.0,85,66,77,2019,0
12,71.0,82,76,86,2019,2
13,73.0,79,75,78,2018,0
14,73.0,80,65,77,2018,1
15,NaN,92,64,99,2020,1
16,69.0,82,64,87,2018,2
17,75.0,88,69,76,2020,1
18,NaN,92,60,87,2019,0
19,75.0,78,67,81,2019,1
20,69.0,94,76,93,2018,2
21,73.0,89,68,76,2019,2
22,67.0,87,75,88,2020,1
23,77.0,82,70,93,2020,0
24,75.0,76,71,93,2020,2
25,NaN,86,78,77,2020,1
26,74.0,78,72,93,2019,2
27,67.0,76,61,77,2019,1
28,NaN,90,69,90,2020,0
29,67.0,76,66,89,2020,2

In [107]:
df.isnull().sum()

Math_Score         8
Reading_Score      0
Writing_Score      0
Placement_Score    0
Club_Join_Date     0
Offer_Count        0
dtype: int64

In [108]:
df.fillna(df.mean(), inplace=True)
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Offer_Count
0,66.000000,90,72,93,2020,2
1,71.363636,86,72,89,2019,2
2,67.000000,80,74,99,2020,0
3,71.000000,83,62,86,2019,0
4,71.363636,88,63,91,2018,0
5,76.000000,76,79,79,2019,2
6,71.363636,88,79,77,2020,2
7,71.363636,88,69,97,2018,2
8,73.000000,90,61,75,2020,0
9,76.000000,82,78,95,2020,2
10,66.000000,86,72,81,2019,1
11,70.000000,85,66,77,2019,0
12,71.000000,82,76,86,2019,2
13,73.000000,79,75,78,2018,0
14,73.000000,80,65,77,2018,1
15,71.363636,92,64,99,2020,1
16,69.000000,82,64,87,2018,2
17,75.000000,88,69,76,2020,1
18,71.363636,92,60,87,2019,0
19,75.000000,78,67,81,2019,1
20,69.000000,94,76,93,2018,2
21,73.000000,89,68,76,2019,2
22,67.000000,87,75,88,2020,1
23,77.000000,82,70,93,2020,0
24,75.000000,76,71,93,2020,2
25,71.363636,86,78,77,2020,1
26,74.000000,78,72,93,2019,2
27,67.000000,76,61,77,2019,1
28,71.363636,90,69,90,2020,0
29,67.000000,76,66,89,2020,2